.switch{
    text-align: center;
    display: inline-block;
    color: white;
}

.searchBar{
    background-color: #282c34;
    padding-left: 10px;
}

.forceGraphGrid{
    overflow: hidden;
    position: absolute;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 80% 20%;
}

.search{
    height: 30%;
}

.resultContainer{
    overflow-y: auto;
    background-color: #282c34;
    margin-top: 20px;
    height: 100%;
    width: 100%;
}
