.switch{
    text-align: center;
    display: inline-block;
    color: white;
}

.searchBar{
    background-color: #282c34;
    padding-left: 10px;
}

.forceGraphGrid{
    display: grid;
    height: 75%;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 2% 78% 20%;
    margin-bottom: 25px;
}

.search {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.resultContainer{
    overflow-y: auto;
    background-color: #282c34;
    margin-top: 20px;
    height: 40%;
    width: 100%;
}

.button{
    position: absolute;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}
